<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500">



    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/fonts.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="preloader">
        <div class="wrapper-triangle">
            <div class="pen">
                <div class="line-triangle">
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                </div>
                <div class="line-triangle">
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                </div>
                <div class="line-triangle">
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header-->
    <header class="section page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="56px" data-xl-stick-up-offset="56px" data-xxl-stick-up-offset="56px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                <div class="rd-navbar-inner-outer">
                    <div class="rd-navbar-inner">
                        <!-- RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!-- RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand"><a class="brand" href="index.html"><img class="brand-logo-dark" src="~/Content/Images/logo-1.jpg" alt="" width="100" height="33" /></a></div>
                        </div>
                        <div class="rd-navbar-right rd-navbar-nav-wrap">
                            <div class="rd-navbar-aside">
                                <ul class="rd-navbar-contacts-2">
                                    <li>
                                        <div class="unit unit-spacing-xs">
                                            <div class="unit-left"><span class="icon mdi mdi-phone"></span></div>
                                            <div class="unit-body"><a class="phone" href="tel:#">+84 359-857-618</a></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="unit unit-spacing-xs">
                                            <div class="unit-left"><span class="icon mdi mdi-map-marker"></span></div>
                                            <div class="unit-body"><a class="address" href="#">4/59 Đường 100A Phường Tân Phú Quận 9</a></div>
                                        </div>
                                    </li>
                                </ul>
                                @*<ul class="list-share-2">
                                    <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                                    <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                                    <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                                    <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                                </ul>*@
                            </div>
                            <div class="rd-navbar-main">
                                <!-- RD Navbar Nav-->
                                @Html.Action("MenuTop", "Menu");
                                @*<ul class="rd-navbar-nav">
                                    <li class="rd-nav-item active">
                                        <a class="rd-nav-link" href="index.html">Trang chủ</a>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" href="about-us.html">About us</a>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" href="contacts.html">Contacts</a>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" href="contacts.html">Đăng nhập</a>
                                    </li>
                                    <li class="rd-nav-item">
                                        <a class="rd-nav-link" href="contacts.html">Đăng ký</a>
                                    </li>
                                </ul>*@
                            </div>
                        </div>
                        <div class="rd-navbar-project-hamburger rd-navbar-project-hamburger-open rd-navbar-fixed-element-1" data-multitoggle=".rd-navbar-inner" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate="data-multitoggle-isolate">
                            <div class="project-hamburger">
                                <span class="project-hamburger-arrow"></span><span class="project-hamburger-arrow"></span><span class="project-hamburger-arrow"></span>
                            </div>
                        </div>
                        <div class="rd-navbar-project">
                            <div class="rd-navbar-project-header">
                                <h5 class="rd-navbar-project-title">Phòng trưng bày</h5>
                                <div class="rd-navbar-project-hamburger rd-navbar-project-hamburger-close" data-multitoggle=".rd-navbar-inner" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate="data-multitoggle-isolate">
                                    <div class="project-close"><span></span><span></span></div>
                                </div>
                            </div>
                            <div class="rd-navbar-project-content rd-navbar-content">
                                <div>
                                    <div class="row gutters-20" data-lightgallery="group">
                                        <div class="col-6">
                                            <!-- Thumbnail Creative-->
                                            <article class="thumbnail thumbnail-creative">
                                                <a href="~/Content/Images/lauthairama.jpg" data-lightgallery="item">
                                                    <div class="thumbnail-creative-figure">
                                                        <img src="~/Content/Images/lauthairama.jpg" alt="" width="195" height="164" />
                                                    </div>
                                                    <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                </a>
                                            </article>
                                        </div>
                                        <div class="col-6">
                                            <!-- Thumbnail Creative-->
                                            <article class="thumbnail thumbnail-creative">
                                                <a href="~/Content/Images/hamburger.jpg" data-lightgallery="item">
                                                    <div class="thumbnail-creative-figure">
                                                        <img src="~/Content/Images/hamburger.jpg" alt="" width="195" height="164" />
                                                    </div>
                                                    <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                </a>
                                            </article>
                                        </div>
                                        <div class="col-6">
                                            <!-- Thumbnail Creative-->
                                            <article class="thumbnail thumbnail-creative">
                                                <a href="~/Content/Images/nuocep.jpg" data-lightgallery="item">
                                                    <div class="thumbnail-creative-figure">
                                                        <img src="~/Content/Images/nuocep.jpg" alt="" width="195" height="164" />
                                                    </div>
                                                    <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                </a>
                                            </article>
                                        </div>
                                        <div class="col-6">
                                            <!-- Thumbnail Creative-->
                                            <article class="thumbnail thumbnail-creative">
                                                <a href="~/Content/Images/ganuonglu.jpg" data-lightgallery="item">
                                                    <div class="thumbnail-creative-figure">
                                                        <img src="~/Content/Images/ganuonglu.jpg" alt="" width="195" height="164" />
                                                    </div>
                                                    <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                </a>
                                            </article>
                                        </div>
                                        <div class="col-6">
                                            <!-- Thumbnail Creative-->
                                            <article class="thumbnail thumbnail-creative">
                                                <a href="~/Content/Images/lauthai.jpeg" data-lightgallery="item">
                                                    <div class="thumbnail-creative-figure">
                                                        <img src="~/Content/Images/lauthai.jpeg" alt="" width="195" height="164" />
                                                    </div>
                                                    <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                </a>
                                            </article>
                                        </div>
                                        <div class="col-6">
                                            <!-- Thumbnail Creative-->
                                            <article class="thumbnail thumbnail-creative">
                                                <a href="~/Content/Images/nuocep2.jpeg" data-lightgallery="item">
                                                    <div class="thumbnail-creative-figure">
                                                        <img src="~/Content/Images/nuocep2.jpeg" alt="" width="195" height="164" />
                                                    </div>
                                                    <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                </a>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>

    </header>
    @RenderBody()
    @*@Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@

    <script src="~/Content/assets/js/core.min.js"></script>
    <script src="~/Content/assets/js/script.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
