@using WebBanHang.Models
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="~/Content/Funnyfood.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500">

    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/jquery-ui-1.12.1.custom/jquery-ui.css">

    <link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/assets/css/fonts.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <script src="~/Content/assets/js/html5shiv.min.js"></script>
    @Scripts.Render("~/bundles/jquery")

    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
</head>
<body>
    <div class="preloader">
        <div class="wrapper-triangle">
            <div class="pen">
                <div class="line-triangle">
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                </div>
                <div class="line-triangle">
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                </div>
                <div class="line-triangle">
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                    <div class="triangle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page">

        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-modern" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="56px" data-xl-stick-up-offset="56px" data-xxl-stick-up-offset="56px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-inner-outer">
                        <div class="rd-navbar-inner">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand"><a class="brand" href="/Home/Index"><img class="brand-logo-dark" style="margin-left:-100px" src="~/Content/Funnyfood.png" alt="" width="198" height="66" /></a></div>
                            </div>
                            <div class="rd-navbar-right rd-navbar-nav-wrap">
                                <div class="rd-navbar-aside">
                                    <ul class="rd-navbar-contacts-2">
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon mdi mdi-phone"></span></div>
                                                <div class="unit-body"><a class="phone" href="tel:#">+84 789-846-9999</a></div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="unit unit-spacing-xs">
                                                <div class="unit-left"><span class="icon mdi mdi-map-marker"></span></div>
                                                <div class="unit-body"><a class="address" href="https://goo.gl/maps/Cf8f8aVMhqy5Ewkb7">Hutech Cơ Sở E</a></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <ul class="list-share-2">
                                        <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                                        <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                                        <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                                        <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                                        @Html.Partial("_LoginPartial")
                                    </ul>
                                </div>
                                <div class="rd-navbar-main">
                                    <!-- RD Navbar Nav-->
                                    <ul class="rd-navbar-nav">
                                        <li class="rd-nav-item active">
                                            <a class="rd-nav-link" href="/Home/Index">Trang Chủ</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="about-us.html">Giới Thiệu</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="typography.html">Tin Tức</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="contacts.html">Sản Phẩm</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="contacts.html">Khuyến Mãi</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="contacts.html">Liên hệ</a>
                                        </li>
                                        <li class="rd-nav-item">
                                            <a class="rd-nav-link" href="/ShoppingCart/Index">
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                <span id="checkout_items" class="checkout_items">0</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            @*<div class="rd-navbar-project-hamburger rd-navbar-project-hamburger-open rd-navbar-fixed-element-1" data-multitoggle=".rd-navbar-inner" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate="data-multitoggle-isolate">
                                    <div class="project-hamburger">
                                        <span class="project-hamburger-arrow"></span><span class="project-hamburger-arrow"></span><span class="project-hamburger-arrow"></span>
                                    </div>
                                </div>
                                <div class="rd-navbar-project">
                                    <div class="rd-navbar-project-header">

                                        <h5 class="rd-navbar-project-title">Gallery</h5>
                                        <div class="rd-navbar-project-hamburger rd-navbar-project-hamburger-close" data-multitoggle=".rd-navbar-inner" data-multitoggle-blur=".rd-navbar-wrap" data-multitoggle-isolate="data-multitoggle-isolate">
                                            <div class="project-close"><span></span><span></span></div>
                                        </div>
                                    </div>
                                    <div class="rd-navbar-project-content rd-navbar-content">
                                        <div>
                                            <div class="row gutters-20" data-lightgallery="group">
                                                <div class="col-6">
                                                    Thumbnail Creative
                                                    <article class="thumbnail thumbnail-creative">
                                                        <a href="~/Content/assets/images/project-1-1200x800-original.jpg" data-lightgallery="item">
                                                            <div class="thumbnail-creative-figure">
                                                                <img src="~/Content/assets/images/project-1-195x164.jpg" alt="" width="195" height="164" />
                                                            </div>
                                                            <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                        </a>
                                                    </article>
                                                </div>
                                                <div class="col-6">
                                                    Thumbnail Creative
                                                    <article class="thumbnail thumbnail-creative">
                                                        <a href="~/Content/assets/images/project-2-1200x800-original.jpg" data-lightgallery="item">
                                                            <div class="thumbnail-creative-figure">
                                                                <img src="~/Content/assets/images/project-2-195x164.jpg" alt="" width="195" height="164" />
                                                            </div>
                                                            <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                        </a>
                                                    </article>
                                                </div>
                                                <div class="col-6">
                                                    Thumbnail Creative
                                                    <article class="thumbnail thumbnail-creative">
                                                        <a href="~/Content/assets/images/project-3-1200x800-original.jpg" data-lightgallery="item">
                                                            <div class="thumbnail-creative-figure">
                                                                <img src="~/Content/assets/images/project-3-195x164.jpg" alt="" width="195" height="164" />
                                                            </div>
                                                            <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                        </a>
                                                    </article>
                                                </div>
                                                <div class="col-6">
                                                    Thumbnail Creative
                                                    <article class="thumbnail thumbnail-creative">
                                                        <a href="~/Content/assets/images/project-4-1200x800-original.jpg" data-lightgallery="item">
                                                            <div class="thumbnail-creative-figure">
                                                                <img src="~/Content/assets/images/project-4-195x164.jpg" alt="" width="195" height="164" />
                                                            </div>
                                                            <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                        </a>
                                                    </article>
                                                </div>
                                                <div class="col-6">
                                                    Thumbnail Creative
                                                    <article class="thumbnail thumbnail-creative">
                                                        <a href="~/Content/assets/images/project-5-1200x800-original.jpg" data-lightgallery="item">
                                                            <div class="thumbnail-creative-figure">
                                                                <img src="~/Content/assets/images/project-5-195x164.jpg" alt="" width="195" height="164" />
                                                            </div>
                                                            <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                        </a>
                                                    </article>
                                                </div>
                                                <div class="col-6">
                                                    Thumbnail Creative
                                                    <article class="thumbnail thumbnail-creative">
                                                        <a href="~/Content/assets/images/project-6-1200x800-original.jpg" data-lightgallery="item">
                                                            <div class="thumbnail-creative-figure">
                                                                <img src="~/Content/assets/images/project-6-195x164.jpg" alt="" width="195" height="164" />
                                                            </div>
                                                            <div class="thumbnail-creative-caption"><span class="icon thumbnail-creative-icon linearicons-magnifier"></span></div>
                                                        </a>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        @RenderBody()

        <!-- Bottom Banner--><!--<a class="section section-banner" href="https://www.templatemonster.com/intense-multipurpose-html-template.html" style="background-image: url(~/Content/assets/images/banner/background-03-1920x310.jpg); background-image: -webkit-image-set( url(~/Content/assets/images/banner/background-03-1920x310.jpg) 1x, url(~/Content/assets/images/banner/background-03-3840x620.jpg) 2x )"><img src="~/Content/assets/images/banner/foreground-03-1600x310.png" srcset="images/banner/foreground-03-1600x310.png 1x, images/banner/foreground-03-3200x620.png 2x" alt="" width="1600" height="310"></a>-->
        <!-- Page Footer-->
        <footer class="section footer-modern context-dark footer-modern-2">
            <div class="footer-modern-line">
                <div class="container">
                    <div class="row row-50">
                        <div class="col-md-6 col-lg-4">
                            <h5 class="footer-modern-title oh-desktop"><span class="d-inline-block wow slideInLeft">Những gì chúng tôi cung cấp</span></h5>
                            <ul class="footer-modern-list d-inline-block d-sm-block wow fadeInUp">


                                @{
                                    ApplicationDbContext db = new ApplicationDbContext();
                                    foreach (var item in db.ProductCategories)
                                    {
                                        <li><a href="#">@item.Title</a></li>

                                    }
                                }
                                
                            </ul>
                        </div>
                        <div class="col-md-6 col-lg-4 col-xl-3">
                            <h5 class="footer-modern-title oh-desktop"><span class="d-inline-block wow slideInLeft">Thông tin</span></h5>
                            <ul class="footer-modern-list d-inline-block d-sm-block wow fadeInUp">
                                <li><a href="about-us.html">Về chúng tôi</a></li>
                                <li><a href="#">Tin mới nhất</a></li>
                                <li><a href="#">Menu</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Cửa hàng</a></li>
                                <li><a href="contacts.html">Liên hệ</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-xl-5">
                            <h5 class="footer-modern-title oh-desktop"><span class="d-inline-block wow slideInLeft">Bản tin</span></h5>
                            <p class="wow fadeInRight">Đăng ký ngay hôm nay để nhận tin tức và cập nhật mới nhất.</p>
                            <!-- RD Mailform-->
                            <form class="rd-form rd-mailform rd-form-inline rd-form-inline-sm oh-desktop" data-form-output="form-output-global" data-form-type="subscribe" method="post" action="bat/rd-mailform.php">
                                <div class="form-wrap wow slideInUp">
                                    <input class="form-input" id="subscribe-form-2-email" type="email" name="email" />
                                    <label class="form-label" for="subscribe-form-2-email">Nhập email của bạn</label>
                                </div>
                                <div class="form-button form-button-2 wow slideInRight">
                                    <button class="button button-sm button-icon-3 button-primary button-winona" type="submit"><span class="d-none d-xl-inline-block">Đăng ký</span><span class="icon mdi mdi-telegram d-xl-none"></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-modern-line-2">
                <div class="container">
                    <div class="row row-30 align-items-center">
                        <div class="col-sm-6 col-md-7 col-lg-4 col-xl-4">
                            <div class="row row-30 align-items-center text-lg-center">
                                <div class="col-md-7 col-xl-6"><a class="brand" href="index.html"><img src="~/Content/Funnyfood.png" alt="" width="198" height="66" /></a></div>
                                <div class="col-md-5 col-xl-6">
                                    <div class="iso-1"><span><img src="~/Content/Funnyfood.png" alt="" width="58" height="25" /></span><span class="iso-1-big">9.4k</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-12 col-lg-8 col-xl-8 oh-desktop">
                            <div class="group-xmd group-sm-justify">
                                <div class="footer-modern-contacts wow slideInUp">
                                    <div class="unit unit-spacing-sm align-items-center">
                                        <div class="unit-left"><span class="icon icon-24 mdi mdi-phone"></span></div>
                                        <div class="unit-body"><a class="phone" href="tel:#">+1 718-999-3939</a></div>
                                    </div>
                                </div>
                                <div class="footer-modern-contacts wow slideInDown">
                                    <div class="unit unit-spacing-sm align-items-center">
                                        <div class="unit-left"><span class="icon mdi mdi-email"></span></div>
                                        <div class="unit-body"><a class="mail" href="mailto:#">info@demolink.org</a></div>
                                    </div>
                                </div>
                                <div class="wow slideInRight">
                                    <ul class="list-inline footer-social-list footer-social-list-2 footer-social-list-3">
                                        <li><a class="icon mdi mdi-facebook" href="#"></a></li>
                                        <li><a class="icon mdi mdi-twitter" href="#"></a></li>
                                        <li><a class="icon mdi mdi-instagram" href="#"></a></li>
                                        <li><a class="icon mdi mdi-google-plus" href="#"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-modern-line-3">
                <div class="container">
                    <div class="row row-10 justify-content-between">
                        <div class="col-md-6"><span> Khu Công nghệ cao TP.HCM (SHTP), TP. Thủ Đức, TP.HCM</span></div>
                        <div class="col-md-auto">
                            <!-- Rights-->
                            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span></span><span>.&nbsp;</span><span>All Rights Reserved.</span><span> Design&nbsp;by&nbsp;<a href="https://www.templatemonster.com">PHAC</a></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- Javascript-->
    <script src="~/Content/assets/js/core.min.js"></script>
    <script src="~/Content/assets/js/script.js"></script>
    <script src="~/Scripts/jsShopping.js"></script>
    @RenderSection("scripts", required: false)

    <!-- coded by Himic-->
</body>
</html>