@model WebBanHang.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<h3>Associate your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <hr />
    <p class="text-info">
        Bạn đã xác thực thành công với <strong>@ViewBag.LoginProvider</strong>.
        Vui lòng nhập đầy đủ thông tin và nhấp vào nút Đăng ký để hoàn tất đăng nhập.
    </p>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.AntiForgeryToken()
<div class="row">
    <div class="col-md-12">
        <label class="label" for="name">Email</label>
        <div style="display:inline-block" class="col-md-10">
            <input type="text" id="Email" name="Email" class="form-control" value="@Model.Email" readonly>
        </div>
    </div>
    <div class="col-md-12">
        <label class="label" for="name">Họ Tên</label>
        <div style="display:inline-block" class="col-md-10">
            <input type="text" id="FullName" name="FullName" class="form-control" placeholder="Full Name">
        </div>
    </div>
    <div class="col-md-12">
        @Html.ValidationMessageFor(row => row.FullName)
    </div>

    <div class="col-md-12">
        <label class="label" for="Address">Địa Chỉ</label>
        <div style="display:inline-block" class="col-md-10">
            <input type="text" id="Address" name="Address" class="form-control" placeholder="Address">
        </div>
    </div>
    <div class="col-md-12">
        @Html.ValidationMessageFor(row => row.Address)
    </div>
    <div class="col-md-12">
        <label class="label" for="phone">SĐT</label>
        <div style="display:inline-block" class="col-md-10">
            <input type="text" id="Phone " name="Phone" class="form-control" placeholder="+84">
        </div>
    </div>
    <div class="col-md-12">
        @Html.ValidationMessageFor(row => row.Phone)
    </div></div>
<div class="form-group">
    <div class="col-md-12" style="text-align:center">
        <input type="submit" class="btn btn-default" value="Đăng ký" />
    </div>
</div>
}
<style>
    .col-md-10 {
        position: relative;
        width: 40%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 15px
    }
</style>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
