@using WebBanHang.Models

@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

@*<h2>@ViewBag.Title.</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>
                    </div>
                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                        <p>
                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                        </p>
                }
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
<!DOCTYPE HTML>
<html>
<head>
    <title>Classy Login form Widget Flat Responsive Widget Template :: w3layouts</title>
    <script src="~/Content/Login/js/jquery.min.js"></script>
    @*Custom Theme files*@
    <link href="~/Content/Login/css/style.css" rel="stylesheet" />
    @*for-mobile-apps*@
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Classy Login form Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    @*//for-mobile-apps
    Google Fonts*@
    <link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="header">
        <div class="header-main">
            <h1>Login</h1>
            <div class="header-bottom">
                <div class="header-right w3agile">
                    <div class="header-left-bottom agileinfo">
                        <section id="loginForm">
                            <form action="/Account/Login?ReturnUrl=@ViewBag.ReturnUrl" method="post" class="form-horizontal" role="form">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="text" value="UserName" id="Account" name="Account" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User name';}" />
                                @Html.ValidationMessageFor(row => row.Account)
                                <input type="password" value="Password" id="Password" name="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}" />
                                @Html.ValidationMessageFor(row => row.Password)
                                <div class="remember">
                                    <span class="chspaneckbox1" style="color:white">
                                        @Html.CheckBoxFor(m => m.RememberMe)
                                        @Html.LabelFor(m => m.RememberMe)
                                    </span>
                                    <div class="forgot">
                                        <h6>@Html.ActionLink("Quên mật khẩu?", "ForgotPassword")</h6>
                                    </div>
                                    <div class="clear"> </div>
                                </div>
                                <input type="submit" value="Login">
                            </form>
                        </section>
                        <div class="header-left-top">
                            <div class="sign-up"> <h2>or</h2> </div>

                        </div>
                        <div class="header-social" style="text-align:center; margin-left:-48px">
                            <section id="socialLoginForm">
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                            </section>
                        </div>

                        @*<div class="header-social wthree">
                            <a href="#" class="face"><h5>Facebook</h5></a>
                            <a href="#" class="twitt"><h5>Twitter</h5></a>
                        </div>*@

                    </div>
                </div>

            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
