@model WebBanHang.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
@*<h2>@ViewBag.Title.</h2>*@

@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="~/Content/Register/css/style.css" rel="stylesheet" />
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 d-flex img d-flex align-items-end" style="background-image: url(/Content/Register/images/reg.jpg);">

                        </div>
                        <div class="login-wrap p-4 p-md-5">
                            <h3 class="mb-3">Tạo một tài khoản</h3>
                            <form action="/Account/Register" method="post" role="form" class="signup-form">
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="name">Họ Tên</label>
                                            <input type="text" id="FullName" name="FullName" class="form-control" placeholder="Full Name">
                                        </div>
                                        @Html.ValidationMessageFor(row => row.FullName)
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="Address">Địa Chỉ</label>
                                            <input type="text" id="Address" name="Address" class="form-control" placeholder="Address">
                                        </div>
                                        @Html.ValidationMessageFor(row => row.Address)
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="email">Email</label>
                                            <input type="text" id="Email" name="Email" class="form-control" placeholder="ngvanA@gmail.com">
                                        </div>
                                        @Html.ValidationMessageFor(row => row.Email)
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="phone">SĐT</label>
                                            <input type="text" id="Phone " name="Phone" class="form-control" placeholder="+84">
                                        </div>
                                        @Html.ValidationMessageFor(row => row.Phone)
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="UserName">Tài khoản</label>
                                            <input type="text" id="UserName" name="UserName" class="form-control" placeholder="UserName">
                                        </div>
                                        @Html.ValidationMessageFor(row => row.UserName)
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="password">Mật khẩu</label>
                                            <input type="password" id="Password" name="Password" class="form-control" placeholder="Password">
                                        </div>
                                        @Html.ValidationMessageFor(row => row.Password)
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group d-flex align-items-center">
                                            <label class="label" for="ConfirmPassword">Nhập lại </label>
                                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control" placeholder="ConfirmPassword">
                                        </div>
                                        @Html.ValidationMessageFor(row => row.ConfirmPassword)
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" style="height: 50px; width: 100px; margin:auto;">
                                            <button type="submit" class="btn btn-secondary submit p-3">Tạo tài khoản</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <div class="w-100 text-center">
                                <p class="mt-4">Tôi đã là một thành viên! @Html.ActionLink("Đăng Nhập", "Login")</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/Content/Register/js/bootstrap.min.js"></script>
    <script src="~/Content/Register/js/jquery.min.js"></script>
    <script src="~/Content/Register/js/main.js"></script>
    <script src="~/Content/Register/js/popper.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>

