@model IEnumerable<WebBanHang.Models.EF.Posts>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .news_section_container {
        margin-top: 180px;
    }

    .row-item-new {
        margin-bottom: 20px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 1px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-width: 100%;
        max-height: 100%;
    }

    .printTitle {
        font-size: 25px;
    }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="title-news"> Khuyễn mãi</h1>
        </div>
    </div>
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
            <div class="row">
               
            </div>
            <div class="row">
                <div class="col-md-12">
                    @item.Title
                </div>
                <div class="col-md-12">
                    @item.Description
                </div>
                <div class="col-md-12">

                    <a> <img src="@item.Image" /></a>
                </div>

                <div class="col-md-12">
                   @Html.Raw(item.Detail)
                </div>
                <div class="col-md-12">
                    @item.CreateBy
                </div>
            </div>
        }
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6" style="text-align:right;">
                @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))*@
            </div>
        </div>
    }

</div>




