@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@using WebBanHang.Models
@using (Ajax.BeginForm("CheckOut", "Shoppingcart", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "load_data",
    OnComplete = "OnSuccessCO",
    OnFailure = "OnFailure"

}, new { @Id = "myForm" }))
{
    <script>
        function OnSuccessCO() {
            location.href = "/ShoppingCart/CheckOutSuccess";
        }
        function OnFailure() {

        }
    </script>
    @Html.AntiForgeryToken()
    IdentityDbContext<ApplicationUser> context = new IdentityDbContext<ApplicationUser>();
    var ID = User.Identity.GetUserId();
    var find = context.Users.FirstOrDefault(p => p.Id == ID);
    <h3>Thông tin khách hàng</h3>
    <div class="form-group">
        <label>Họ tên khách hàng</label>
        <input type="text" name="CustomerName" required class="form-control" value="@find.FullName" disabled autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Số điện thoại</label>
        <input type="text" name="Phone" class="form-control" value="@find.PhoneNumber" disabled autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Địa chỉ</label>
        <input type="text" name="Address" class="form-control" value="@find.Address" disabled autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="Email" class="form-control" value="@find.Email" disabled autocomplete="off" />
    </div>
    <div class="form-group">
        <label>Hình thức thanh toán</label>
        <select class="form-control" name="TypePayment">
            <option value="1" selected>COD</option>
            <option value="2">Chuyển khoản</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-block btn-success">Đặt hàng</button>
    </div>
}